Q-15. Write an SQL query to fetch intersecting records of two tables.

In [ ]:
SELECT <column_names> FROM table_1 INTERSECT SELECT <column_names> FROM table_2;

Q-16. Write an SQL query to show records from one table that another table does not have.

In [ ]:
SELECT * FROM table_1 EXCEPT SELECT * FROM table_2;