Q-17. Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
SELECT * FROM Worker LIMIT 10;
SELECT TOP 10 * FROM Worker; #Top Keyword is not supported by Many Popular Databases

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
ELECT DISTINCT(Salary) FROM Worker ORDER BY DESC LIMIT 1 OFFSET 5;