Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [5]:
'''
SELECT * from Worker where FIRST_NAME NOT IN ("Vipul", "Satish");
'''

'\nSELECT * from Worker where FIRST_NAME NOT IN ("Vipul", "Satish");\n'

2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [6]:
'''
SELECT * FROM Workers WHERE FIRST_NAME LIKE '_____h';
'''

"\nSELECT * FROM Workers WHERE FIRST_NAME LIKE '_____h';\n"

Q-3. Write a query to validate Email of Employee.

In [7]:
'''
SELECT * FROM Worker WHERE email LIKE "_%@_%._%
"'''

'\nSELECT * FROM Worker WHERE email LIKE "_%@_%._%\n"'