Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™ 2014.

In [4]:
'''
# Approach 1
SELECT * FROM Worker WHERE JOINING_DATE LIKE "%2014-02%";

# Approach 2
SELECT * FROM Worker WHERE YEAR(JOINING_DATE) = 2014 AND MONTH(JOINING_DATE) = 02;
'''

'\n# Approach 1\nSELECT * FROM Worker WHERE JOINING_DATE LIKE "%2014-02%";\n\n# Approach 2\nSELECT * FROM Worker WHERE YEAR(JOINING_DATE) = 2014 AND MONTH(JOINING_DATE) = 02;\n'

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [8]:
'''
SELECT column_name, COUNT(column_name) FROM Worker GROUP BY FIELD HAVING COUNT(column_name) > 1;
'''

'\nSELECT column_name, COUNT(column_name) FROM Worker GROUP BY FIELD HAVING COUNT(column_name) > 1;\n'

Q-3. How to remove duplicate rows from Employees table.

In [9]:
'''CREATE TABLE Employee (
    ID INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    FIRST_NAME VARCHAR(50),
    LAST_NAME VARCHAR(50),
    COUNTRY VARCHAR(50)
);

INSERT INTO Employee VALUES 
(1,'GOURAV','RISHI','INDIA'),
(2,'SHIVAM','AGGARWAL','INDIA'),
(3,'KAUSHIK','SHARMA','INDIA'),
(4,'WILL','SMITH','USA'),
(5,'JASON','SMITH','USA'),
(6,'STEVE','JOBS','USA');

DELETE e1.* from employee e1 INNER JOIN employee e2 WHERE e1.id > e2.id AND e1.FIRST_NAME = e2.FIRST_NAME AND e1.LAST_NAME = e2.LAST_NAME AND e1.COUNTRY'''

"CREATE TABLE Employee (\n    ID INT PRIMARY KEY AUTO_INCREMENT NOT NULL,\n    FIRST_NAME VARCHAR(50),\n    LAST_NAME VARCHAR(50),\n    COUNTRY VARCHAR(50)\n);\n\nINSERT INTO Employee VALUES \n(1,'GOURAV','RISHI','INDIA'),\n(2,'SHIVAM','AGGARWAL','INDIA'),\n(3,'KAUSHIK','SHARMA','INDIA'),\n(4,'WILL','SMITH','USA'),\n(5,'JASON','SMITH','USA'),\n(6,'STEVE','JOBS','USA');\n\nDELETE e1.* from employee e1 INNER JOIN employee e2 WHERE e1.id > e2.id AND e1.FIRST_NAME = e2.FIRST_NAME AND e1.LAST_NAME = e2.LAST_NAME AND e1.COUNTRY"